<tr>
  <td><%= organization_row.name %></td>
  <td><%= organization_row.sigil %></td>
  <td><%= organization_row.website %></td>
  <td>
    <%= link_to 'Edit', edit_organization_path(organization_row), class: 'bth btn-primary btn-sm' %>
    <%= link_to 'Remove', organization_row, method: :delete, class: 'bth btn-danger btn-sm' %>
  </td>
</tr>