<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>XanderMiller.ca</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <%= render 'layouts/favicon' %>
</head>
<body>
  <div class='container'>
    <header class='row'>
      <%= link_to :root do %>
        <h1>Xander Miller</h1>
        <h2>Samurai Web Developer</h2>
      <% end %>
      <%= render 'layouts/navbar' %>
    </header>
    <%= render 'layouts/flash' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
